{% extends "qc_workflow_base.html" %}
{% block title %}FastQC Analsyis{% endblock %}
{% block content %}
<h1>FastQC Analysis</h1>

<div class="container">
    <div class="row">
        <h2>Summary</h2>
        {% for type in summaries %}
            <div class="row">
                <div class="legend">{{ type }}</div>
                {{ summaries[type] }}
            </div>
        {% endfor %}
        {% for section in vars %}
            <h2>{{ section }}</h2>
            {% for sample in vars[section] %}
                <div class="row">
                    <div class="legend">{{ sample }}</div>
                    {% for type in vars[section][sample] %}
                        <div class="col-sm-3 thumbnail figure">
                            <a class="reference internal image-reference" href="{{ vars[section][sample][type]['file'] }}"><img src="{{ vars[section][sample][type]['file'] }}" /></a>
                            <div class="legend">{{ vars[section][sample][type]['caption'] }}</div>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
