{% extends "qc_workflow_base.html" %}
{% block title %}FastQC Analsyis{% endblock %}
{% block content %}
<h1>FastQC Analysis</h1>

<div class="container">
    <div class="row">
        <h2>Adapter Content</h2>
        {% for sample in vars['fig']['adapter_content'] %}
            <div class="row">
                <div class="legend">{{ sample }}</div>
                <div class="col-sm-3 thumbnail figure">
                    <img src="{{ vars['fig']['adapter_content'][sample]['fastqc'] }}" />
                    <div class="legend">raw</div>
                </div>
                <div class="col-sm-3 thumbnail figure">
                    <img src="{{ vars['fig']['adapter_content'][sample]['fastqc_trimmed'] }}" />
                    <div class="legend">trimmed</div>
                </div>
                <div class="col-sm-3 thumbnail figure">
                    <img src="{{ vars['fig']['adapter_content'][sample]['fastqc_bam'] }}" />
                    <div class="legend">bam</div>
                </div>
                <div class="col-sm-3 thumbnail figure">
                    <img src="{{ vars['fig']['adapter_content'][sample]['fastqc_trimmed_bam'] }}" />
                    <div class="legend">trimmed bam</div>
                </div>
            </div>
        {% endfor %}

    <h2>Duplication Levels</h2>
        {% for sample in vars['samples'] %}
            <div class="row">
                <div class="legend">{{ sample }}</div>
                <div class="col-sm-3 thumbnail figure">
                    <img src="{{ vars['fig']['duplication_levels'][sample]['fastqc'] }}" />
                    <div class="legend">raw</div>
                </div>
                <div class="col-sm-3 thumbnail figure">
                    <img src="{{ vars['fig']['duplication_levels'][sample]['fastqc_trimmed'] }}" />
                    <div class="legend">trimmed</div>
                </div>
                <div class="col-sm-3 thumbnail figure">
                    <img src="{{ vars['fig']['duplication_levels'][sample]['fastqc_bam'] }}" />
                    <div class="legend">bam</div>
                </div>
                <div class="col-sm-3 thumbnail figure">
                    <img src="{{ vars['fig']['duplication_levels'][sample]['fastqc_trimmed_bam'] }}" />
                    <div class="legend">trimmed bam</div>
                </div>
            </div>
        {% endfor %}

    </div>



    <h2>Kmer Profiles</h2>

    <h2>Per Base N Content</h2>

    <h2>Per Base Quality</h2>

    <h2>Per Base Sequence Content</h2>
    <h2>Per Sequence GC Content</h2>
    <h2>Per Sequence Quality</h2>
    <h2>Per Tile Quality</h2>
    <h2>Sequence length distribution</h2>

</div>
{% endblock %}
